<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal payment</title>
</head>
<body>
    <h1>Takio open TV</h1>
    <h1>Price: $200</h1>
    <form action="/api/v1/payment/pay" method="post">
        <input type="submit" value="Buy">
    </form>
</body>
</html>